@charset "utf-8";
* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: black;}

#wrap {
  width: 100%;
  height: 900px;
  position: relative;
}

#top {
  width: 100%;
  height: 800px;
  display: flex;
}
#header {
  width: 200px;
  height: 800px;
  background-color: burlywood;
}
#header .logo {
  padding: 5px;
  padding-top: 20px;
}
#header .nav {
  padding-top: 20px;
}
.nav > ul {
  padding: 10px;
}
.nav > ul > li {
  position: relative;
}
.nav > ul > li > a {
  display: block;
  padding: 10px 20px;
  text-align: center;
  background-color: darkgoldenrod;
}
.nav > ul > li > a:hover {
  background-color: rgb(208, 174, 85);
}
.nav > ul > li > ul {
  height: 0;
  overflow: hidden;
  transition: 0.7s ease;
}

.nav > ul > li > ul > li > a {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: orange;
}
.nav > ul > li > ul > li > a:hover {
  background-color: rgb(255, 193, 77);
}

#main {
  width: calc(100% - 200px);
  height: 800px;
  display: flex;
  overflow: hidden;
}

.contents {
  width: 400px;
  height: 800px;
}

.notion {
  height: 300px;
  padding: 20px;
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
}
.notion .title h2 {
  width: 120px;
  text-align: center;
  padding-bottom: 20px;
  padding: 5px;
  background-color: burlywood;
  border-radius: 10px 10px 0 0;
}
.notion .content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: burlywood;
  padding: 20px;
}
.notion .content .text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notion .content .text a:hover {
  text-decoration: underline;
}
.notion .content .date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notion .content .date span {
  color: #706f6f;
}

.gallery {
  height: 300px;
  padding: 20px;
  background-color: darkgoldenrod;
  display: flex;
  flex-direction: column;
}
.gallery .title h2 {
  width: 120px;
  text-align: center;
  padding-bottom: 20px;
  padding: 5px;
  background-color: burlywood;
  border-radius: 10px 10px 0 0;
}
.gallery .content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  background-color: burlywood;
  padding: 20px;
}
.gallery .content .imageBox {
  display: flex;
  flex-direction: column;
}
.gallery .content .imageBox img {
  width: 140px;
}
.gallery .content .imageBox span {
  padding-top: 10px;
  text-align: center;
}

.link {
  width: 400px;
  height: 200px;
  background-color: darkgoldenrod;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.link .linkBox {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  border-radius: 20px;
}
.link .linkBox:hover span {
  text-decoration: underline;
}
.link .linkBox img {
  width: 50px;
  height: 50px;
}
.link .linkBox span {
  text-align: center;
  padding-top: 10px;
}

.slider {
  width: calc(100% - 400px);
  height: 800px;
}
.slider .slide {
  width: 100%;
  height: 800px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}
.slider .slide.s1 {
  background-image: url('../images/s1.jpg');
}
.slider .slide.s2 {
  background-image: url('../images/s2.jpg');
}
.slider .slide.s3 {
  background-image: url('../images/s3.jpg');
}
.slider .slide span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  padding: 10px;
  background-color: rgba(184, 134, 11, 0.4);
}

#footer {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: darkgoldenrod;
}
#footer .logo {
  width: 200px;
  height: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer .copyright {
  width: calc(100% - 200px - 250px);
  height: 100px;
  background-color: burlywood;
  padding: 20px;
}
#footer .familySite {
  width: 250px;
  height: 100px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.popup {
  display: none;

  position: absolute;
  width: 500px;
  height: 400px;
  background-color: darkgoldenrod;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  flex-direction: column;
}
.popup h2 {
  padding-bottom: 20px;
}
.popup .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .image img {
  width: 300px;
  height: 100%;
}
.popup .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.popup .button {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.popup .button a {
  border: none;
  padding: 10px;
  font-size: 16px;
  background-color: burlywood;
}