@charset "utf-8";
* {margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: black;}

#wrap {
  width: 100%;
  height: calc(400px + 200px + 250px + 120px);
  position: relative;
}

#top {
  width: 100%;
  height: calc(400px + 200px + 250px);
  background-color: ghostwhite;
  display: flex;
}

#header {
  width: 200px;
  height: 100%;
  background-color: yellow;
}
#header::after {
  content: '';
  position: absolute;
  top: 89.38px;
  left: 180px;
  width: 0;
  height: calc(43.2px * 4);
  background-color: #9acd32;
  z-index: 1;
  transition: .7s ease;
}
#header.on::after {
  width: calc(100% - 180px);
}
#header .logo {
  padding-top: 20px;
}
#header .nav {
  padding: 20px;
}
#header .nav > ul > li {
  position: relative;
}
#header .nav > ul > li > a {
  display: block;
  padding: 10px 20px;
  text-align: center;
  background-color: yellowgreen;
}
#header .nav > ul > li a:hover {
  background-color: rgb(0, 99, 0);
  color: #fff;
}
#header .nav > ul > li > ul {
  position: absolute;
  display: none;
  top: 0;
  left: 160px;
  width: 100%;
}
#header .nav > ul > li > ul > li {
  width: 100%;
}
#header .nav > ul > li > ul > li > a {
  display: block;
  padding: 10px 20px;
  width: 160px;
  text-align: center;
  position: relative;
  z-index: 100;
}
#header .nav > ul > li > ul > li > a:hover {
  color: white;
}


#main {
  width: calc(100% - 200px);
  height: 100%;
}

.slider {
  height: 400px;
  position: relative;
}
.slider .slide {
  position: absolute;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s ease;
}
.slider .slide.s1 {
  background-image: url('../images/s1.jpg');
}
.slider .slide.s2 {
  background-image: url('../images/s2.jpg');
}
.slider .slide.s3 {
  background-image: url('../images/s3.jpg');
}
.slider .slide span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(100, 255, 0, .4);
  border-radius: 20px;
  color: #fff;
}

.link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  background-color: #9acd32;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.link .linkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link img {
  width: 40px;
  height: 40px;
}

.banner {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 20px;
  background-color: #9acd32;
}
.banner .image {
  padding: 20px;
  background-color: yellow;
}
.banner .image img {
  width: 100%;
  height: 100%;
}
.banner .text {
  width: 100%;
  padding: 20px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.notion-gallery {
  width: 100%;
  height: 250px;
  padding: 20px;
  background-color: #9acd32;
  display: flex;
  flex-direction: column;
}
.notion-gallery .buttonbox {
  display: flex;
}
.notion-gallery .buttonbox button {
  cursor: pointer;
  border: none;
  padding: 10px;
  font-size: 20px;
  width: 140px;
  background-color: yellow;
  border-radius: 20px 20px 0 0;
}
.notion-gallery .buttonbox button.active {
  background-color: rgb(0, 99, 0);
  color: white;
}
.notion-gallery .contentbox {
  display: flex;
  padding: 20px 40px;
  background-color: yellow;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.notion-gallery .contentbox .notion {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.notion-gallery .contentbox .notion .text .popcontent:hover {
  text-decoration: underline;
}
.notion-gallery .contentbox .notion .date {
  display: flex;
  flex-direction: column;
}

.notion-gallery .contentbox .gallery {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.notion-gallery .contentbox .gallery img {
  width: 160px;
}

#footer {
  width: 100%;
  height: 120px;
  display: flex;
  padding: 10px;
  background-color: yellow;
}
#footger .logo {
  width: 200px;
  height: 120px;
  padding: 20px;
}
#footer .footerbox .menu {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#footer .footerbox .menu a {
  font-weight: bold;
}
#footer .footerbox .menu a:hover {
  text-decoration: underline;
}
#footer .footerbox .copyright {
  padding-bottom: 10px;
  padding-left: 10px;
}

.popup {
  display: none;
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: #9acd32;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  flex-direction: column;
  padding: 20px;
  border: 2px solid black;
}
.popup h2 {
  padding-bottom: 20px;
}
.popup .text {
  flex: 1;
}
.popup .closeBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.popup .closeBtn button {
  cursor: pointer;
  border: none;
  padding: 5px;
  font-size: 20px;
  background-color: yellow;
}