@charset "utf-8";
* {margin: 0;padding: 0;box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none;color: inherit;}
img {vertical-align: top;max-width: 100%;}
button {cursor: pointer;}
body {background-color: #fff;color: #333;}

#wrap {
  position: relative;
}

#inner {
  width: 1200px;
  margin: 0 auto;
}

#header {
  width: 100%;
  height: 100px;
  display: flex;
  padding-top: 35px;
  padding-left: 10px;
  background-color: #fff;

  position: relative;
}
#header .nav {
  position: absolute;
  top: 40px;
  right: 10px;
  z-index: 10;
}
.nav > ul {
  display: flex;
}
.nav > ul > li > a {
  display: block;
  width: 120px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #3d155f;
  color: #fff;
}
.nav > ul > li:hover > a {
  background-color: #f96167;
}
.nav > ul > li > .submenu {
  height: 0;
  overflow: hidden;
}
.nav > ul > li > .submenu > li > a {
  display: block;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}
.nav > ul > li > .submenu > li > a:hover {
  background-color: #3d155f;
  color: #fff;
}

#slide {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
#slide > ul {
  display: flex;
  width: 400%;
}
#slide > ul > li {
  position: relative;
  width: 1200px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#slide > ul > li.s1 {
  background-image: url('/images/s1.jpg');
}
#slide > ul > li.s2 {
  background-image: url('/images/s2.jpg');
}
#slide > ul > li.s3 {
  background-image: url('/images/s3.jpg');
}
#slide > ul > li > a {
  display: block;
  height: 100%;
}
#slide > ul > li > a > h2 {
  background-color: rgba(61, 21, 95, .7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding :20px;
  border-radius: 50px;
  font-size: 28px;
}
#slide > ul > li > a > h2 > span {
  color: #f96167;
}

#contents {
  width: 100%;
  display: flex;
}
#contents .notice {
  width: 33.3333%;
  height: 200px;
}
.notice {
  padding: 10px;
}
.notice h2 {
  background-color: #3d155f;
  color: #fff;
  border-radius: 10px 10px 0 0 ;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}
.notice > ul {
  background-color: #3d155f;
  padding: 5px 15px;
}
.notice > ul > li > a {
  position: relative;
  display: block;
  padding: 5px 0;
  color: #fff;
}
.notice > ul > li > a > span {
  position: absolute;
  top: 5px;
  right: 0;
}
.notice > ul > li > a > p {
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#contents .gall {
  width: 33.3333%;
  height: 200px;
}
.gall {
  padding: 10px;
}
.gall h2 {
  background-color: #f96167;
  color: #fff;
  border-radius: 10px 10px 0 0 ;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
}
.gall ul {
  display: flex;
  padding: 10px;
  background-color: #f96167;
  gap: 10px;
}
.gall ul li:hover {
  opacity: .7;
}
.gall ul li img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

#contents .go {
  width: 33.3333%;
  height: 200px;
}
.go {
  padding: 10px;
  background-color: #eee;
}
.go h2 {
  color: #3d155f;
  margin-bottom: 20px;
}
.go ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.go ul li {
  text-align: center;
}
.go ul li a {
  display: block;
  height: 100%;
}
.go ul li p {
  width: 80px;
  height: 80px;
  background-color: #3d155f;
  padding-top: 20px;
  border-radius: 20px;
  margin-bottom: 5px;
}
.go ul li a p img {
  width: 40px;
  height: 40px;
}
.go ul li a span {
  font: bold;
}

#footer {
  height: 100px;
  background-color: #666;
  color: #fff;
  padding-left: 20px;
  display: flex;

  position: relative;
  gap: 30px;
  align-items: center;
}
#footer .fsns {
  position: absolute;
  top: 30px;
  right: 30px;

  display: flex;
  gap: 10px;
}
#footer .fsns li a {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
#footer .fsns li:nth-child(2) a img {
  padding-top: 2px;
  padding-right: 2px;
}
#footer .fsns li a img {
  width: 20px;
  height: 20px;
}

.popup {
  display: none;
  z-index: 9999;

  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 20px;
  border: 2px solid #f96167;
  padding: 20px;
}
.popup h2 {
  color: #f96167;
  margin-bottom: 20px;
}
.popup .img {
  width: 400px;
  height: 250px;
  margin: 0 auto;
}
.popup .text {
  margin: 20px 0;
}
.popup .close {
  text-align: right;
}
.popup .close button {
  background-color: #f96167;
  border: none;
  padding: 10px;
  color: #fff;
}
.popup .close button:hover {
  background-color: #3d155f;
}